body {
    text-align: center;
}
.line{
    height: 5px;
    width: 100px;
    background-color: orange;
    margin: 10px auto;
}
#app{
background-color: blue;
}

#game{background-color: red;
    height: 500px;
    
}
#art{
    background-color: cyan;
}
#bot{
    background-color: yellow;
}
img{
    transition: transform .2s;
    
}
img:hover{
    transform: scale(.9)
}

